# Ignore build directories
/build/
/_build/
/_builddir/
/_build_dir/
.build

# Ignore Meson logs and files
/meson-logs/
/meson-private/
/meson.buildroot/
/meson-info/

# Ignore compiled object files
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# Ignore compiled binary files
*.out
*.app

# Ignore other temporary files
*.tmp
*.log
*.swp
problems.txt

# Ignore dependency directories (optional)
*.dep
*.obj

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore macOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db
